<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div id="app">
   <panel :type="article.warning" v-for="(article ,index) in articles" :key="index" @saytitle="parent">
       <div slot="title"><span v-html="article.title"></span></div>
       <div slot="content">
           {{article.content}}
       </div>
       <div v-if="article.auth">{{article.auth}}</div>
   </panel>
</div>

<template id="panel">
    <div class="panel" :class="[color]">
        <div class="panel-heading" ref="head"><slot name="title"></slot></div>
        <div class="panel-body"><slot name="content"></slot></div>
        <div class="panel-footer"><slot>匿名</slot> <button @click="say">弹出标题</button></div><!--如果不写第三个作者的DIV就会用匿名替代-->
    </div>
</template>
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/axios/dist/axios.js"></script>
<script>
    let panel={
        template:'#panel',
        create(){
            console.log(this.type);
        },
        computed:{
            color(){
                return 'panel-'+this.type;
            }
        },
       methods:{
            say(){
                this.$emit('saytitle',this.$refs.head.innerText);
            }
       },
        props:{
            type:{
                type:[String],
                default:'default'
            }
        }
    }
    const vm=new Vue({
        el:'#app',
        components:{
            panel,
        },
        methods:{
            parent(tit){
                alert(tit);
            }
        },
        data:{
            articles:[
                {type:'warning',title:'<h2>vue</h2>',content:'这是一篇v文章',auto:'xx'},
                {type:'warning',title:'<h2>react</h2>',content:'这是一篇r文章'},
                {type:'warning',title:'<h2>ant</h2>',content:'这是一篇a文章',}
            ]
        }
    })
</script>
</body>
</html>