<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    全选<input type="checkbox" v-model="checkAll">
    <input type="checkbox" v-for="product in products" v-model="product.isSealed">
</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm=new Vue({
        el:'#app',
        computed:{
          checkAll:{
              get(){//返回什么结果就会赋予给checkAll属性
                return this.products.every(item=>item.isSealed)
              } ,
              set(val){
                  this.products.forEach(item=>item.isSealed=val)
              }
          }
        },
        data:{
            products:[{isSealed:true},{isSealed:true}]
        },

    })
</script>
</body>
</html>